.continue{
    right: 0 !important;
    border-color: #f1aa6e !important;
    background-color: #f1aa6e !important ;
}
.fermer{
    border-color: #5d5a5a !important;
    background-color: #5d5a5a !important ;
}
.model{
    border: 2px solid #f1aa6e !important;
}
