#passwordModel .modal-content{
    width: 270px !important;
    height: auto !important;
}
.header{
    height: 50px !important;
    background-color: #f67542;
}
.btnValider{
    background-color: #5e6468 !important;
    border-color: #5e6468 !important;
    color: white;
    width: 100%;

}
.modal-header span{
    color: white;
}
.title{
    color: white;
    font-size: 1em !important;
}

.buttonCode{
    font-size: 1.5em;
    background-color: #d2d2d2 !important;
    color: #817d7d !important;
    padding: 5px 15px;
    border: 1px solid #817d7d;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.buttonCodeIcon{
    background-color: #d2d2d2 !important;
    color: #5e6468 !important;
    padding: 5px 4px;
    border: 1px solid #817d7d;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.row{
    margin-top: 5px;
    margin-left: 1px !important;
}
