.btnRenitialiser{
    color: #f95e02 !important;
    border-color: #f95e02 !important;
    background-color: white !important ;
    margin-right: 10px;
}
.btnRenitialiser:focus, .btnRechercher:focus{
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px rgb(249, 94, 2) !important;
}
.btnRechercher{
    color: white !important;
    border-color: #f95e02 !important;
    background-color: #f95e02 !important ;
}
.btnRechercher:disabled{
    cursor: not-allowed;
}
.btnCreeVirement{
    color: white !important;
    border-color: #f95e02 !important;
    background-color: #f95e02 !important ;
}
.green{
    font-size: 1.2em !important;
    color: #1fc64d
}
.red{
    font-size: 1.2em !important;
    color: #ff3434
}
