.autre{
    padding: 3px;
    border-radius: 2px;
   background-color: #f7a01e;
    color: white;
}
.benef{
    padding: 3px;
    border-radius: 2px;
    background-color: #42b85b;
    color: white;
}
